.generic-div-black, .generic-div-white {
  padding: 5vw;
  min-height: 32vh;
}

.generic-div-white {
  background-color: rgb(254, 254, 254);
}

.generic-div-black {
  background-color: #e5e5e5 ;
}

.inline-left-small, .inline-right-big, .inline-left-big, .inline-right-small {
  display: inline-block;
}

.inline-left-small {
  text-align: center;
}

.inline-right-big {
  text-align: left;
  width: 49%;
  padding-left: 4%;
  vertical-align: top;
}

.inline-left-big {
  text-align: left;
  width: 49%;
  padding-left: 4%;
}

.inline-right-small {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

h2 {
  font-size: large;
  font-style: italic;
}

@media only screen and (max-width: 700px) {
  .inline-left-big, .inline-right-big {
    position: relative;
    width: 80%;
    left: 10%;
    padding: 0;
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: medium;
    margin: 3px;
  }

  h2 {
    margin: 1px;
    font-size: small;
  }

  .about {
    font-size: small;
  }
}

img {
  min-height: 15vh;
}
