html, body, .root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(238, 238, 238);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: circle;
}

a {
  color: rgb(54, 145, 188);
}

a:hover {
  color: rgb(116, 250, 255);
}

a:visited {
  color: #14213d;
}